@charset "UTF-8";

body {
    background-color: rgb(67, 59, 117);
}

header {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

section {
    width: 90vw;
    margin: auto;
    padding: 10px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
}

div#usuario {
    text-align: center;
    font-size: 1.5em;
}

div#operaçoes {
    display: flex;
    margin-top: 10px;
}

div.calculo {
    width: 20%;
    padding: 10px;
    margin: auto;

    background-color: rgb(75, 62, 161);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.600);

    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.calculo > h1 {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 650px) {
    div.calculo {
        font-size: 80%;
    }
}